.parcel-cache
/node_modules/
/dist/
/test/
custom-elements.json
# top level source
human-livechat.js
human-livechat.js.map
human-livechat.d.ts
human-livechat.d.ts.map

# human-livechat.bundled.js
# vscode
# .vscode
