/node_modules/
/lib/
/test/
custom-elements.json
# top level source
human-livechat.js
human-livechat.js.map
human-livechat.d.ts
human-livechat.d.ts.map
# only generated for size check
human-livechat.bundled.js
# vscode
.vscode
