**/node_modules/
packages/*/dist/
packages/*/types/
packages/*/tsconfig.tsbuildinfo
types
**/.env
.astro
packages/kite-chat-docs/public/kite-chat-component.js
packages/kite-chat-docs/public/kite-chat.js
packages/kite-chat-docs/src/content/customElements