@config "../tailwind.config.lit.cjs";

textarea,
kite-chat-main {
  scrollbar-width: thin;
}

textarea::-webkit-scrollbar,
kite-chat-main::-webkit-scrollbar {
  @apply w-[3px] h-[3px];
}

textarea::-webkit-scrollbar-track,
kite-chat-main::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb,
kite-chat-main::-webkit-scrollbar-thumb {
  @apply bg-neutral-500;
}

.kite-dialog > kite-chat-main {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23aaa' fill-opacity='0.2' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
  @apply selection:bg-primary-color selection:text-white;
}

:host(:not([theme="dark"])) {
  --kite-msg-bg: white;
  --kite-msg-border: white;
  --kite-msg-sent-bg: theme('colors.stone.300');
  --kite-msg-sent-border: theme('colors.stone.300');
  --kite-notification-bg: theme('colors.stone.300');

  --kite-keyboard-buttons-background: rgba(214, 211, 209, 0.6);
  --kite-keyboard-buttons-hover-background: rgba(214, 211, 209, 0.4);
  --kite-keyboard-buttons-active-background: rgba(184, 186, 188, 0.5);

  --kite-md-background-color: #f5f5f5;
  --kite-md-text-color: #333333;
  --kite-md-comment-color: #6a737d;
  --kite-md-keyword-color: #0018a8;
  --kite-md-variable-color: #0018a8;
  --kite-md-number-color: #00593c;
  --kite-md-string-color: #00743f;
  --kite-md-title-color: #d93f0b;
}

:host([theme="dark"]) {
  --kite-msg-bg: theme('colors.neutral.800');
  --kite-msg-border: theme('colors.stone.800');
  --kite-msg-sent-bg: theme('colors.neutral.600');
  --kite-msg-sent-border: theme('colors.stone.600');
  --kite-notification-bg: theme('colors.neutral.600');
  --date-divider-bg: rgba(0, 0, 0, 0.5);

  --kite-keyboard-buttons-background: rgba(38 ,38 , 38, 0.6);
  --kite-keyboard-buttons-hover-background: rgba(38 ,38 , 38, 0.4);
  --kite-keyboard-buttons-active-background: rgba(38 ,38 , 38, 0.5);

  --kite-md-background-color: #1e1e1e;
  --kite-md-text-color: #d4d4d4;
  --kite-md-comment-color: #6a737d;
  --kite-md-keyword-color: #6b80f8;
  --kite-md-variable-color: #9cdcfe;
  --kite-md-number-color: #67a07d;
  --kite-md-string-color: #98c379;
  --kite-md-title-color: #efe161;
}

:host(:not([theme="dark"])) .kite-dialog {
  --kite-menu-background: white;
  @apply border-neutral-200 bg-white text-black;
}

:host([theme="dark"]) .kite-dialog {
  --kite-menu-background: theme('colors.neutral.800');
  @apply border-neutral-600 bg-neutral-800 text-white/95;
}

@media(prefers-color-scheme: dark) {
  :host(:not([theme="light"])) {
    --kite-msg-bg: theme('colors.neutral.800');
    --kite-msg-border: theme('colors.stone.800');
    --kite-msg-sent-bg: theme('colors.neutral.600');
    --kite-msg-sent-border: theme('colors.stone.600');
    --kite-notification-bg: theme('colors.neutral.600');
    --date-divider-bg: rgba(0, 0, 0, 0.5);

    --kite-keyboard-buttons-background: rgba(38 ,38 , 38, 0.6);
    --kite-keyboard-buttons-hover-background: rgba(38 ,38 , 38, 0.4);
    --kite-keyboard-buttons-active-background: rgba(38 ,38 , 38, 0.5);

    --kite-md-background-color: #1e1e1e;
    --kite-md-text-color: #d4d4d4;
    --kite-md-comment-color: #6a737d;
    --kite-md-keyword-color: #6b80f8;
    --kite-md-variable-color: #9cdcfe;
    --kite-md-number-color: #67a07d;
    --kite-md-string-color: #98c379;
    --kite-md-title-color: #efe161;
  }

  :host(:not([theme="light"])) .kite-dialog {
    --kite-menu-background: theme('colors.neutral.800');
    @apply border-neutral-600 bg-neutral-800 text-white/95;
  }
}

:host {
  -webkit-tap-highlight-color: transparent;

  --kite-gap: 1rem;
  --kite-dialog-width: 20rem;
  --kite-dialog-height: 30rem;
}

.kite-dialog {
  --gap: var(--kite-gap);
  width: var(--kite-dialog-width);
  height: var(--kite-dialog-height);
  --element-width: var(--kite-dialog-width)!important;
  --element-height: var(--kite-dialog-height)!important;
  right: auto;
  bottom: auto;
}

.fallback-1 {
  left: calc(var(--anchor-right) - var(--element-width));
  top: calc(var(--anchor-top) - var(--element-height) - var(--gap));
}

.fallback-2 {
  left: calc(var(--anchor-right) - var(--element-width));
  top: calc(var(--anchor-bottom) + var(--gap));
}

.fallback-3 {
  left: var(--anchor-left);
  top: calc(var(--anchor-top) - var(--element-height) - var(--gap));
}

.fallback-4 {
  left: var(--anchor-left);
  top: calc(var(--anchor-bottom) + var(--gap));
}

span.edit-message {
  @apply relative flex-1 my-auto line-clamp-1 pt-6 text-base;
}

span.edit-message::after {
  @apply content-['Replace\sfile'] opacity-60 text-sm absolute top-0 left-0;
}

span.edit-message_file::after {
  @apply content-['Replace\sfile'] cursor-pointer;
}

kite-context-menu {
  @apply bg-[var(--kite-menu-background)] border border-[var(--kite-menu-background)];
  position: absolute;
  width: 10rem;
  --gap: 2px;
}

@supports(anchor-name: --toggle) {
  .kite-toggle[popovertarget] {
    anchor-name: --toggle;
  }

  .kite-dialog[popover] {
    anchor-default: --toggle;
    position-fallback: --flip;
  }

  @media (max-width: 22rem) {
    .kite-dialog[popover] {
      anchor-default: initial;
      position-fallback: initial;
    }
  }

  @media (max-height: 35rem) {
    .kite-dialog[popover] {
      anchor-default: initial;
      position-fallback: initial;
    }
  }
}

@supports(anchor-name: --pointer-anchor) {
  kite-pointer-anchor {
    anchor-name: --pointer-anchor;
  }

  kite-context-menu {
    anchor-default: --pointer-anchor;
    position-fallback: --flip;
  }
}

@media (max-width: 22rem) {
  .kite-dialog {
    @apply w-[98vw] right-[1vw] left-[1vw];
  }
}

@media (max-height: 35rem) {
  .kite-dialog {
    @apply h-[98dvh] w-[98vw] max-w-[30rem] right-[1vmin] left-[1vmin] top-[1vmin] bottom-[1vmin];
  }
}

::slotted(kite-date-divider) {
  @apply !my-2;
}

::slotted(kite-toast-notification ),
::slotted(kite-custom-keyboard) {
  width: calc(100% - 1rem);
  @apply !mx-2;
}