@config "../tailwind.config.lit.cjs";

:host {
  @apply flex flex-col items-start w-full relative px-2 select-none py-1.5 box-border snap-end;
  @apply select-text selection:bg-primary-color selection:text-white;
}

.message-container {
  @apply relative max-w-[80%] block break-words rounded px-2 py-1 text-left shadow;
  @apply scroll-my-1;
}

slot {
  @apply whitespace-pre-line;
}

:host(:not([status])) .message-container {
  background: var(--kite-msg-bg, white);
}

:host([status]) .message-container {
  background: var(--kite-msg-sent-bg, theme('colors.stone.300'));
  @apply self-end;
}

:host([selected]) .message-container {
  filter: opacity(0.7);
}

.message-container::before {
  @apply content-[''] absolute w-0 h-0 top-0;
  border: 10px solid transparent !important;
}

:host(:not([status])) .message-container::before {
  left: -0.375rem;
  border-top-color: var(--kite-msg-bg, white) !important;
}

:host([status]) .message-container::before {
  right: -0.375rem;
  border-top-color: var(--kite-msg-sent-bg, theme('colors.stone.300')) !important;
}

time {
  @apply opacity-60 text-sm mx-1;
}

span.status {
  @apply no-underline float-right [letter-spacing:-0.3em] text-neutral-500;
}

span.info-container {
  @apply float-right select-none bottom-[-0.375rem] mt-1 text-[inherit];
  white-space: nowrap;
}

:host([edited]) time::before {
  @apply content-['(edited)'] relative opacity-60 text-sm float-left tracking-normal;
}

span.read::after,
span.delivered::after {
  color: theme('colors.primary-color');
}

span.sent::after,
span.delivered::after {
  content: '✓';
}

span.read::after {
  content: '✓✓';
}

span.failed::after {
  content: '✗';
  color: theme('colors.red.500');
}

span {
  @apply text-neutral-200;
}

.message-container::after {
  @apply absolute w-6 h-6 right-[-2rem] top-1/2 translate-y-[-50%];
}

:host([selected])::before {
  @apply absolute !content-[''] bottom-0 left-0 z-10 w-full h-full bg-primary-color opacity-40;
}

p {
  @apply inline;
}

blockquote::before, pre::before {
  @apply content-[''] absolute top-0 left-0 w-0.5 h-full bg-primary-color;
}

blockquote, pre {
  @apply relative p-2 text-xs my-2;
}

h1, h2, h3, h4, h5, h6 {
  @apply no-underline normal-case font-normal;
}

a {
  @apply text-primary-color;
}

code:not(pre code) {
  @apply text-primary-color text-opacity-70 font-medium text-base;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg ;
}

h4 {
  @apply text-base;
}

h5 {
  @apply text-sm;
}

h6 {
  @apply text-xs;
}

details {
  display: inline;
  cursor: pointer;
  padding: 0;
}

summary {
  display: block;
}

details[open] summary {
  display: none;
}

summary::-webkit-details-marker {
  display: none;
}

:host {
  --background-color: var(--kite-md-background-color, #6e6a6a);
  --comment-color: var(--kite-md-comment-color, #696969);
  --keyword-color: var(--kite-md-keyword-color, #7928a1);
  --variable-color: var(--kite-md-variable-color, #d91e18);
  --number-color: var(--kite-md-number-color, #d91e18);
  --string-color: var(--kite-md-string-color, #008000);
  --title-color: var(--kite-md-title-color, #007faa);
  --emphasis-style: var(--kite-md-emphasis-style, italic); 
  --strong-weight: var(--kite-md-strong-weight, bold); 
  --highlight-color: var(--kite-md-highlight-color, highlight); 
}

blockquote, pre {
  background: var(--background-color);
}

pre {
  tab-size: 2;
  @apply whitespace-pre-wrap;
}

.hljs-comment,
.hljs-quote {
  color: var(--comment-color);
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-attr,
.hljs-property,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: var(--variable-color);
}

.hljs-number,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: var(--number-color);
}

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: var(--string-color);
}

.hljs-title,
.hljs-section {
  color: var(--title-color);
}

.hljs-keyword,
.hljs-selector-tag {
  color: var(--keyword-color);
}

.hljs-emphasis {
  font-style: var(--emphasis-style);
}

.hljs-strong {
  font-weight: var(--strong-weight);
}

@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attr,
  .hljs-property,
  .hljs-built_in,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
    color: var(--highlight-color);
  }
  
  .hljs-keyword,
  .hljs-selector-tag {
    font-weight: var(--strong-weight);
  }
}