:host {
  max-width: 80%;
  @apply selection:bg-primary-color relative clear-both my-1.5 block snap-end scroll-my-1 whitespace-pre-line break-words rounded px-2 py-1 text-left shadow selection:text-white;
}

:host(:not([status])) {
  background: white;
  float: left;
}

:host([status]) {
  background: theme('colors.stone.300');
  float: right;
}

:host::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  border: 10px solid transparent;
}

:host(:not([status]))::before {
  left: -0.375rem;
  border-top-color: white;
}

:host([status])::before {
  right: -0.375rem;
  border-top-color: theme('colors.stone.300');
}

time {
  opacity: 60%;
  font-size: 0.875rem;
  position: relative;
  margin: 0.25rem;
  float: right;
  bottom: -0.375rem;
  right: -0.5rem;
}

:host([status]) time {
  margin-right: 1.5rem;
}

s {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0.5rem;
  font-size: 0.5rem;
  letter-spacing: -0.125rem;
}

s.read::after {
  content: '✓✓';
  color: theme('colors.blue.500');
}

s.delivered::after {
  content: '✓✓';
  color: theme('colors.neutral.500');
}

s.sent::after {
  content: '✓';
  color: theme('colors.neutral.500');
}

@media (prefers-color-scheme: dark) {
  :host(:not([status])) {
    background: theme('colors.neutral.800');
  }

  :host([status]) {
    background: theme('colors.stone.600');
  }

  :host(:not([status]))::before {
    border-top-color: theme('colors.neutral.800');
  }

  :host([status])::before {
    border-top-color: theme('colors.stone.600');
  }

  s {
    color: theme('colors.neutral.200');
  }
}
