@config "../../../tailwind.config.lit.cjs";

:host {
    background-color: var(--kite-notification-bg, theme('colors.neutral.600'));
    --color-success: var(--kite-notification-success, theme('colors.green.700'));
    --color-error: var(--kite-notification-error, theme('colors.red.500'));
    --color-info: var(--kite-notification-info, theme('colors.primary-color'));
    --color-warning: var(--kite-notification-warning, theme('colors.yellow.500'));
    @apply flex !border !border-solid !border-[var(--color-info)] !my-1.5 rounded shadow-md overflow-hidden snap-end scroll-my-1;
}

.wrapper {
    @apply flex flex-1 px-2 py-2 gap-2;
}

span.message {
    @apply flex-1;
}

span:not(.message) {
    @apply select-none;
}

span {
    @apply leading-[1.25em];
}

:host(:not([open])) span.message {
    @apply line-clamp-1;
}

span.close {
    @apply cursor-pointer border-none;
}

span.close:hover {
    @apply opacity-75;
}

:host([open]) span.toggle {
    @apply transform rotate-90 translate-y-[10%];
}

:host([type="success"]) {
    @apply !border-[var(--color-success)];
}

:host([type="warning"]) {
    @apply !border-[var(--color-warning)];
}

:host([type="error"]) {
    @apply !border-[var(--color-error)];
}

span.collapsed {
    @apply text-center w-full h-[1.25em];
}

span.icon {
    @apply flex flex-col px-1.5 py-2 transform bg-[var(--color-info)] opacity-90 text-secondary-color;
}

:host([type="success"]) span.icon {
    @apply bg-[var(--color-success)];
}

:host([type="warning"]) span.icon {
    @apply bg-[var(--color-warning)];
}

:host([type="error"]) span.icon {
    @apply bg-[var(--color-error)];
}

:host([duration][state="active"]) span.icon::after {
    animation: progressBar var(--kite-notification-duration, 5000ms) linear forwards;
    @apply content-[''] w-full h-full bg-opacity-30 bg-white absolute bottom-0 left-0;
}

@keyframes progressBar {
    to {
        height: 0%;
    }
}

span.icon svg {
    @apply w-[1.25em] h-[1.25em];
}