@config "../../../tailwind.config.lit.cjs";

textarea {
  scrollbar-width: thin;
}

textarea::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

textarea::-webkit-scrollbar-track {
  @apply bg-transparent;
}

textarea::-webkit-scrollbar-thumb {
  @apply bg-neutral-500;
}

:host {
  @apply flex flex-col;
}

span.edit-message {
  @apply relative pt-6 text-base flex-1 my-auto line-clamp-1 pointer-events-none select-none;
}

span.edit-message::after {
  content: 'Edit message';
  @apply opacity-60 text-sm absolute top-0 left-0 cursor-pointer pointer-events-auto;
}

span.edit-message_file::after {
  content: 'Replace file';
  @apply cursor-pointer;
}
