@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --kite-primary-color: var(--sl-color-text-accent);
}

.site-title > img {
    @apply h-8
}

.main-pane {
    position: relative;
    z-index: 1;
}