@config "../../../tailwind.config.lit.cjs";

:host {
  scrollbar-width: thin;
  @apply select-none;
}

:host::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

:host::-webkit-scrollbar-track {
  @apply bg-transparent;
}

:host::-webkit-scrollbar-thumb {
  @apply bg-neutral-500;
}

:host {
  display: grid;
  gap: var(--gap, 0.5rem);
  overflow-y: auto;
}

:host([open]) {
  --kite-custom-keyboard-height: 10rem;
  height: var(--kite-custom-keyboard-height, 2.5rem);
}

:host([open][resize]) {
  height: fit-content;
}

.row {
  display: grid;
  grid-auto-flow: column;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

a {
  @apply flex items-center justify-center text-center relative;
}

[icon="arrow-left"] {
  @apply absolute top-1 right-0 w-4 h-4 transform rotate-[135deg];
}

button, a {
  min-height: var(--buttons-min-height, 2rem);
  height: 100%;
  width: 100%;
  border-radius: var(--buttons-border-radius, 0.125rem);
  font-size: inherit;
  background: var(--buttons-background, white);
  -webkit-tap-highlight-color: var(--buttons-tap-highlight-color, var(--buttons-hover-background, theme('colors.gray.300')));
}

@media (hover: hover) and (pointer: fine) {
  button:hover, a:hover {
    background: var(--buttons-hover-background, theme('colors.gray.300'));
  }
}

button:active, a:active {
  background: var(--buttons-active-background, theme('colors.gray.200'));
}
