@config "../../../tailwind.config.lit.cjs";

:host {
  --buttons-background: var(--kite-keyboard-buttons-background, rgba(0, 0, 0, 0.4));
  --buttons-hover-background: var(--kite-keyboard-buttons-hover-background, rgba(0, 0, 0, 0.3));
  --buttons-active-background: var(--kite-keyboard-buttons-active-background, rgba(0, 0, 0, 0.2));
}

:host([open]) {
  @apply flex flex-wrap items-stretch !my-1 w-full snap-end scroll-my-1;
  column-gap: var(--kite-keyboard-gap, 0.2rem);
  row-gap: calc(var(--kite-keyboard-gap, 0.2rem) / 2);
  align-items: stretch;
}

::slotted(*) {
  @apply flex-1;
}

::slotted(hr) {
  @apply h-0 !border-0 basis-full;
}